table {
    border-collapse: collapse;
    width: 100%;
}
.first-tab{
    max-width: 60%;
}

th, td {
    border: 1px solid rgba(183, 182, 182, 0.66);
    text-align: left;
    padding: 8px;
}

th {
    border: 1px dotted black;
    background-color: #4CAF50;
    color: white;
}
.first th{
 background-color: rgba(202, 204, 204, 0.54);
    color: black;
}

tr:nth-child(even) {
    background-color: #efefef;
}

@media screen and (max-width: 768px) {
    .table-view {
        width: 100%;
        overflow-x: auto;
    }
}
