
#header {
    background-image: url("https://img.freepik.com/free-photo/gradient-dark-blue-futuristic-digital-background_53876-160646.jpg");
    color: white;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-size: 20px;
}
#header a{
    text-decoration: none;
    color: white;
}


/* Set a max-width for the content */
#content {
    max-width: 800px;
    min-height: 70vh;
    margin: 0 auto;
}


/* Style the table */
#productInfo {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-content: center;
}

#productInfo td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Set the font size for small screens */
@media (max-width: 600px) {
    #productInfo td {
        font-size: 12px;
    }
}

/* Stack the table rows on small screens */
@media (max-width: 600px) {
    #productInfo td {
        display: block;
    }
    #productInfo tr {
        display: block;
        margin-bottom: 10px;
    }
    #productInfo td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 10px;
    }
}

#footer {
    background-image: url("https://img.freepik.com/free-photo/gradient-dark-blue-futuristic-digital-background_53876-160646.jpg");
    color: white;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-size: 20px;
}

